<ng-template #editModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
                <div class="mb-3">
                  <label for="codRef" class="form-label">Introduce el código del referente</label>
                  <input type="text" class="form-control " id="codRef" name="codRef" [value]="codRefEdit" readonly aria-describedby="codRef" required>
                </div>
                <div class="mb-3">
                  <label for="descRef" class="form-label">Introduce la descripción del referente</label>
                  <input type="text" class="form-control" id="descRef" name="descRef" [value]="descEdit" required [(ngModel)]="desc">
                  <div id="dcError" class="text-danger">{{descErr}}</div>
                 </div>
                  <button type="button" class="btn btn-dark" (click)="toSave()">Guardar</button>
			</div>
		</form>
	</div>
</ng-template>
<div class="card mb-3"  >
  <div class="row g-0">
    <div class="col-md-1 align-items-center d-flex justify-content-center">
      <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center " id="clipboard-icon">
        <fa-icon [icon]="['fas', 'graduation-cap']" class="text-white fs-3"></fa-icon>
      </div>
    </div>
    <div class="col-md-2" >
      <div class="card-body">
        <h5 class="card-title fw-bold fs-2">{{referente.codReferente}}</h5>
      </div>
    </div>
    <div class="col-md-8 align-items-center d-flex">
      <p class="card-text"><small class="text-body-secondary ">{{referente.descripcion}}</small></p>
    </div>
    <div class="col-md-1 align-items-center d-flex">
      <button type="button" class="btn" [ngbPopover]="popContent" placement="bottom" >
        <fa-icon [icon]="['fas', 'ellipsis-vertical']" class="fs-4"></fa-icon>
      </button>
      <ng-template #popContent>
        <button ngbDropdownItem class="popero w-100" (click)="open(editModal)"><fa-icon [icon]="['fas', 'pen-to-square']" ></fa-icon> Editar</button>
        <hr />
        <button ngbDropdownItem class="popero w-100" (click)="delete()"><fa-icon [icon]="['fas', 'trash']"></fa-icon> <i class="bi bi-trash"></i> Borrar</button>
    </ng-template>
    </div>
  </div>
</div>
